header {
 text-align: center;  
}

a {
  padding-right: 10px;
  padding-left: 10px;
  background: #D1DEE8;
}

img {
  display: block;
  margin: 0 auto;
} 

figcaption {
  text-align: center;
  font-size: 17px;
}

#featured-property {
  padding-bottom: 30px;
}

#featured-property p {
  width: 800px;
  text-align: center;
  display: block;
  margin: 0 auto;
} 

#details {
  background-color: #EB2B10;
}

#details div {
  display: inline-block;
  text-allign: center;
  margin: auto;
}

#details p {

}


#details a {
  background-color: #EB2B10;  
}