header {
 text-align: center;  
}

a {
  padding-right: 10px;
  padding-left: 10px;
  background: #D1DEE8;
}

img {
  display: block;
  margin: 0 auto;
} 

figcaption {
  text-align: center;
}

/*#featured-property {
  width: 800px;
  text-align: center;
  
  
} */

