header {
 text-align: center;  
}

a {
  padding-right: 10px;
  padding-left: 10px;
  background: #D1DEE8;
}

img {
  display: block;
  margin: 0 auto;
} 

figcaption {
  text-align: center;
  font-size: 17px;
}

#featured-property {
  padding-bottom: 5px;
}

#featured-property p {
  width: 800px;
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 14.5px;
  padding: 12px;
} 

#details div {
  text-align: center;
  width: 25%;
  float: left;
  background-color: #EB2B10;
}

#details a {
  background-color: #EB2B10;  
}